@page "/"

<PageTitle>Расчёт площади</PageTitle>

<h1>Калькулятор площади</h1>

<label>Длина (мм):</label>
<input type="number" @bind="length" step="0.01" />

<label>Ширина (мм):</label>
<input type="number" @bind="width" step="0.01" />

<button @onclick="CalculateArea">Рассчитать</button>

<h2>Результат:</h2>
<p>Площадь (в м²): @result</p>

@code {
    private double length { get; set; }
    private double width { get; set; }
    private double result { get; set; }

    private void CalculateArea()
    {
        result = (length * width) / 1_000_000;
    }
}